// src/assets/styles/globals.scss
@use './variables' as *;

*{
  box-sizing: border-box;
}

body {
  background-color: $background-light;
  transition: background-color 0.3s ease;
  
  // This class will be added by ThemeProvider
  &.dark-mode {
    background-color: $background-dark;
  }
}

.mui-paper {
  background-color: $background-light-paper;
  
  .dark-mode & {
    background-color: $background-dark-paper;
  }
}