// src/assets/styles/variables.scss
$purple-primary: #8f3996;
$purple-light: #b262b8;
$purple-dark: #6d2a73;

$blue-secondary: #0ea5e9;
$blue-light: #38bdf8;
$blue-dark: #0284c7;

// Background colors (NOT in MUI theme)
$background-light: #ffffff;
$background-light-paper: #f8fafc;
$background-dark: #0f172a;
$background-dark-paper: #1e293b;